<simulation>
    <app type="ControlApp" />
    
    <robot type="Jubileu">
        <supervisor type="jubileu.JSupervisor" />
        <pose x="0" y="0" theta="0" />
        <driver ip="192.168.1.101" port="5005" />
    </robot>
    
    <obstacle>
        <pose x="-4.4" y="-2.1" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="8.7" y="0" />
            <point x="8.7" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="-4.3" y="-2" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="4.2" y="0" />
            <point x="4.2" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
        <obstacle>
        <pose x="4.4" y="-2.1" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="4.2" y="0" />
            <point x="4.2" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="-4.3" y="2.1" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="8.7" y="0" />
            <point x="8.7" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
</simulation>